html * {
        position: relative;
        margin: 0;
    }
    
    body {
        height: 100%;
        background-color: white;
        font-family: 'Rubik', sans-serif;
        position: relative;
        margin: 0;
        
    }

    .cabecalho {
        display: grid;
        float: flex;
        background-color: #063b7c;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding: 3px;
    }

    .imgCabecalho {
        max-width: 100%;
        max-height: 190px;
        align-items: center;
    }

    #fontCabecalho {
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .servicos {
        color: red;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    p {
        padding-bottom: 1rem;
    }

    .anuncios {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-columns: repeat(4, 1fr);
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 20px;
    }

    .anuncioItem {
        max-width: 100%;  
        margin-bottom: 30px;
        background: rgb(245, 245, 245);
        padding: 2%;
        margin-right: 3%;  
        border: 1px rgb(245, 245, 245);
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncio {
        max-width: 100%;
        max-height: 190px;
    }

    #anuncio {
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        color: #063b7c;

    }

    .a3 {
        font-family: "Roboto", sans-serif;
        color: #0000EE;
        text-decoration: underline;   
    }

    .footer {
        position: relative;
        margin: 0;
    }

    #assoc {
        font-weight: bold;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        font-family: "Roboto", sans-serif;
 html * {
        position: relative;
        margin: 0;
    }
    
    body {
        max-height: 100%;
        width: 100%;
        background-color: #ffffff;
        font-family: 'Rubik', sans-serif;
        position: relative;
        margin: 0;  
    }

    .cabecalho {
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
    flex-flow: column wrap;
    background-color: #063b7c;
    width: 100%;
    text-align: center;
   }

    .imgCabecalho {
        max-width: 100%;
        align-items: center;
    }

    #fontCabecalho {
        color: #ffffff;
        text-align: center;
        font-weight: bold; 
        padding: 0.3em; 
    }

    .categorias {
        color: red;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    p {
        padding: 0.3em;
    }

    .anuncios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.3em;
        margin: 0.5em;
    }

    .anuncioItemComida {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #FDDFDF;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #FDDFDF;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioComida {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(252, 144, 144);
    }

    .anuncioItemImovel {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #bfffce;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #bfffce;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioImovel {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(84, 255, 124);
    }

    .anuncioItemModa {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #dbd1ff;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #dbd1ff;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioModa {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(99, 56, 255);
    }

    .anuncioItemCom {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #ccd6de;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #ccd6de;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioCom {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(104, 170, 222);
    }

    .anuncioItemInfo {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #a1ffeb;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #a1ffeb;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioInfo {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(54, 255, 212);
    }

    .anuncioItemDiversao {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #ffdfb0;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #ffdfb0;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioDiversao {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(255, 180, 69);
    }

    .anuncioItemFina {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #dbc7a2;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #dbc7a2;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioFina {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(219, 165, 64);
    }

    .anuncioItemSaude {
        max-width: 100%;  
        margin-bottom: 0.3em;
        background: #99d4ff;
        padding: 0.3em;
        margin-right: 0.3rem;
        margin-left: 0.3em;  
        border: 1px #99d4ff;
        border-radius: 20px 20px 0 20px;  
        overflow: hidden;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .imgAnuncioSaude {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: 15px -7px 7px rgb(54, 171, 255);
    }

    #anuncio {
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        color: #063b7c;

    }

    #anunciotexto {
        text-align: justify;
        color: #252525;
    }

    .a3 {
        font-family: "Roboto", sans-serif;
        color: #0000EE;
        text-decoration: underline;   
    }

    .footer {
        position: relative;
        margin: 0;
    }

    #assoc {
        font-weight: bold;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    a {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        text-decoration: none;
    }

    .icon {
        max-width: 35px;
        overflow: hidden;
        vertical-align: middle;
        padding: 0.3em;
    }

    .rodape {
        display: grid;
        float: flex;
        width: 100%;
	    background-color: #424242;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        margin: 0;
        padding: 0.3em;

    }

    .header {
        display: grid;
        float: flex;
        width: 100%;
        background-color: #252525;
        grid-template-columns: 1fr;
        grid-row: repeat(2, 1fr);
        margin: 0;
        padding: 0.3em;
    }

    #fontHeader {
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: #f5f5f5;
        padding: 0.3em;
    }

    #textRodape {
        padding: 0.3em;
        text-align: left;
        margin: 0;
    }

    .a2 {
        font-family: "Roboto", sans-serif;
        color:#424242;
        text-align: right;
        text-decoration: none;   
    }

    .a4 {
        font-family: "Roboto", sans-serif;
        color:#424242;
        text-align: center;
        text-decoration: none;   
    }
    

     @media(max-width:480px){

   .anuncios {
        grid-template-columns: repeat(1, 1fr);
    }

   .rodape {
       grid-template-columns: repeat(1, 1fr);
    }
